
body, button{
    font-family: 'Jomolhari', serif;
    font-size: 16px;
    margin:0;
    background-attachment: fixed;
    background-image: url(../../image/pexels-photo-414645.jpeg),radial-gradient(rgb(0,0,0),rgb(0,0,0));
    background-position: right center;
    background-color: rygba(173, 216, 230, 0.404);
}
form{
    margin: 40px 200px 40px;
}
body, button{
    font-family: 'Jomolhari', serif;
    font-size: 16px;
}

h1{
    font-size : 48px;
    margin-left: 200px;
    color: #eecfbe;
}
h3{
    font-size:20px;
    font-family: ;
}
p{
    text-align: center;
    font-size: 18px;
}
a{
    color:blue;
    text-decoration: none;
}
a:hover{
    opacity: .7;
}
img{
    width: 100%;
}
button{
    background-color: #370031;
    color:white;
    border: none;
    border-radius: 20px;
    padding: 10px 40px;
    margin: 10px auto 100px;
    display: block;

}
button:hover{
    background-color: rgb(173, 216, 230, 0.8);
    color:#222;
    border-radius: 20px;
}
nav{
    font-family: 'Montserrat', sans-serif;
    background-color: #832232;
}
nav ul{
    margin:0;
}
nav li{
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}
nav li a{
    display: inline-block;
    padding: 18px 38px;
    color:white;
}
nav li a:hover{
    background-color: #CE8964;
}
footer{
    display: block;
    margin: 0;
    background-color: #E3B5A4 ; 
    padding : 38px;

}
footer a{
    color:#222;
    display: block;
    width: 20%;
    text-decoration: none;
    text-align: center;
    margin:auto;
}
footer a:hover{
    opacity: 0.7;
}
.login{
    display: block;
    float: right;
}
.login li{
    display: inline-block;
    margin: 5px;
}
.login li a{
    display: inline-block;
    padding: 12px 20px;
    color: #white;
    font-size: 16px;
    border: none;
    border-radius: 20px;
}
.login li a:hover{
   background-color: white !important;
   color: black;
   border: none;
}

input[type="text"],input[type="email"],input[type="password"],
select {
 width: 40%;
 padding: 12px 20px;
 margin: 8px auto 8px;
 box-sizing: border-box;
 border: 2px solid orangered;
 font-size: 16px;
 display: inline-block;
}
label{
    display: block;
    color : #fff;
}
select {
 background-color: #fff;
 display: block;
}

input[type="submit"]{
    background-color: #370031;
    color:white;
    border: none;
    border-radius: 20px;
    margin-top: 15px;
    padding: 10px 40px;
    display: block;
}